{% extends "halalweb/base.html" %}
{% block content %}
<h1 class="mb-3">Eateries Added by {{ view.kwargs.username }}</h1>
    {% for eatery in eateries %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ eatery.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-eatery' eatery.author.username %}">{{ eatery.author }}</a>
              <small class="text-muted">{{ eatery.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'eatery-detail' eatery.id %}">{{ eatery.title }}</a></h2>
            <p class="article-content">{{ eatery.description }}</p>
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ eatery.address }}</a>
            </div>
          </div>
        </article>
    {% endfor %}
{% endblock content %}

<!-- {% url 'profile' eatery.author.id %} -->